@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
  margin: 0;
  padding: 0;
}

svg:focus,
g:focus,
path:focus,
.recharts-wrapper > svg > g:focus,
.recharts-layer:focus {
  outline: none !important;
}
